@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #00aa00;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #333;
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
}


.h1name{
  font-size: 100px;
  position: absolute;
  left: 39%;
  top: 10%;
}






##tanczacy text B)


.content {
  position: relative;


}

.content h2 {
  color: var(--text-color);
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 20%;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px var(--text-color);
}

.content h2:nth-child(2) {
  color: var(--text-color);
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}






.zagad
{
  font-size: 15px;
  position: absolute;
  left: 37%;
  top: 50%;
}











.btn{
  margin-top: 300px;
  background-color: #333;
  color: var(--text-color);
  border-radius: 8px;

}
.btn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  background-color: var(--text-color);
  transition: .8s;
}


#mainSpot
{
    display: none;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    width:1150px;
    height:650px;
    background-color: #333;
}
#maze
{
    border-style: solid;
    border-color: var(--text-color);
    border-width: 1px;
    width:930px;
    height:468px;
    margin-left:auto;
    margin-right:auto;
}

.row
{
    margin-left:auto;
    margin-right:auto;
    border-bottom: 1px solid var(--text-color);
    width:929px;
    height:117px;
}
#maze .row:last-child
{
    border-bottom: none;
}
.column
{
    background-color: var(--text-color);
    width:1px;
    height:116px;
}
.square
{
    border-right: 1px solid var(--text-color);
    /* background-color: black; */
    width:116px;
    height:116px;
    padding:0px;
}
.row .square:last-child
{
    border-right: none;
}
.shadow {
    -webkit-filter: drop-shadow( 0px 0px 15px var(--text-color));
    filter: drop-shadow( 0px 0px 15px var(--text-color));
    /* Similar syntax to box-shadow */
}
