




.video-background
{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}



@media (min-aspect-ratio:16/9)
{
    .video-background
    {
        width: 100%;
        height: auto;
}
@media (max-aspect-ratio:16/9)
{
    .video-background
    {
        width: auto;
        height: 100%;
    }
}


















body{
  margin: 0;
  padding: 0;
  font-family: montserrat;

}
.center{
  background-color: rgba(1, 0, 0, 0.9);
  color: rgba(1, 0, 0, 0.9);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.ring{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ring 3s linear infinite;
}
@keyframes ring {
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #ff0000;
  }
  25%{
    transform: rotate(90deg);
    box-shadow: 1px 5px 2px #ff7300;
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #aeff00;
  }
  75%{
    transform: rotate(270deg);
    box-shadow: 1px 5px 2px #3b89b8;
  }
  100%{
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #e34444;
  }
}
.ring:before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255,255,255,.10);
}
span{
  color: #737373;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: text 3s ease-in-out infinite;
}
@keyframes text {
  50%{
    color: black;
  }
}
